body{
     background-color: #f6f9fc;
}
.full-container {
    background-color: #f6f9fc;
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
    color: #02203c;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;



  
 
}

.main {
    width:80vw;
    /* max-width: 1200px; */
    background-color:white;
    height: 100vh;
    display: flex;
    margin-top: 100px;
    
}

.navbar {
    width: 100%;
    height: 90px;
    position: fixed;
    background-color: #17408B;
}

.sidebar {
    width: 200px;
    height: 100vh;

    background: rgba(15, 51, 56, 0.59);
   
   
    font: normal 16px/1.1rem "Muli",sans-serif;
    color: #FFFAFA;

}

h1 {
    color: #02203c;
}
#svg-container {
    
 display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;

}


.container-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sub-container {
    
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
}

.sub-menu {
    background-color: yellow;
    width: 100%;
    height: 100px;
}

svg {
    
    /* background-color: #0d2842;
    -moz-box-shadow: inset 0 0 5px 5px #888;
    -webkit-box-shadow: inset 0 0 5px 5px#888;
    box-shadow: inset 0 0 5px 5px #888; */
    /* width: 60%;
    height: 60%; */
    display: block;
}

circle {
    border-style: solid 1px red;
}

.flex-middle {
    display: flex;
    width: 100%;
    justify-content: center;

}

  #sideBar {
    height: 100%;
    width: 300px;
    background: rgba(15, 51, 56, 0.59);
   
   
    font: normal 16px/1.1rem "Muli",sans-serif;
    color: #FFFAFA;
    padding: 17px;
    font-size: 15px;

    /* overflow: scroll; */
    cursor: pointer;
    z-index: 10;
  }


  .checkboxes {
   padding-bottom: 15px;

  }